<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head', { title: "New user | Users" }) %>
<body>
  <%- include('../partials/header') %>

  <main>
    <h2>Create a new user</h2>

    <form action="/users" method="POST">
      <input
        type="text"
        name="user_name"
        placeholder="user_name"
        required
        minlength="2"
        maxlength="50"
      /><br />

      <input
        type="text"
        name="slug"
        placeholder="slug"
        required
        minlength="3"
        maxlength="30"
        pattern="[a-z0-9-]+"
      /><br />

      <input
        type="number"
        name="age"
        placeholder="age"
        required
        min="0"
        max="130"
        step="1"
      /><br />

      <button>Save</button>
    </form>
  </main>
</body>
</html>
